@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i|Russo+One|Yeseva+One|Kanit');

 * {
 	box-sizing: border-box;
 }

 /*Header Styles*/

 header {

	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    background-position: 0 0;
    height:70vh;
    /*overflow: hidden;*/
    background:linear-gradient(to top, transparent , black) ,  url('../images/image4small.jpeg');
    background-size: cover;
    background-position:60% 60%; 
}

/*Header logo*/
header .landing-logo {
	/*width: 25%;
	position: absolute;
	top:0;
	left:0;
	right:0;*/
	margin:5% auto 0 auto;
	/*bottom:0;*/
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	/*align-content: center;*/
}

header h1 {
	color:white;
	font-size: 1.5rem;
	border-bottom: 2px solid #5fabc4;
	font-family: 'Yeseva One', cursive;
	font-weight: normal;
}

header h3 {
	display: none;
}

header h3 a {
	text-decoration: none;
	color:white;
	background-color: rgba(28,27,27,0.8);
	padding:3%;
	white-space: nowrap;
	font-family: 'Kanit', sans-serif;
	font-size: 0.9rem;
	font-weight: normal;
	display: none;
}

header p:first-of-type {
	display: none;
}

header nav {

	position: fixed;
	top:0;
	right:0;
	left:0;
	z-index:4;
}


header nav ul  {
   display: none;
   list-style-type: none;
}

header nav ul li {
	text-align: center;
	margin:12px auto;
	border-bottom: 1px solid white;
}

header nav ul li.language1{
   display: none;
   visibility: hidden;
}

header nav a.language2 {
	display: inline-block;
	position:fixed;
	top:2px;
	left:4px;
	z-index: 3;
	

	background-color: #c4a16c;
	border:none;
	font-family: 'Kanit' , sans-serif;
	color:#fff;
	font-size: 1rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	padding:2px;
	/*color:black;*/
}

header nav a.language2  {

	text-decoration: none;
}

/*header nav a.language2 {

	color:#fff;
}*/



header nav ul li a {
	color:white;
	text-decoration: none;
	text-align: center;
	font-size: 1.5rem;
	opacity: 1;
	font-weight: bold;
	font-family: 'Kanit', sans-serif;
}

.icon-menu , .icon-cancel-circle {
	position: fixed;
	top:0;
	right:0;
	left:0;
	/*background-color:rgba(28,27,27,.8);*/
	background-color: white;
	/*border: 2px solid black;*/
	display: block;
	font-size:2rem;
	text-align: right;
	color:black;
	z-index: 2;
	opacity: 1;
	/*padding:2%;*/
}

.ul-view {
display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 ;
	margin: 0;
	background-color: rgba(28,27,27,1);
    width:100%;
    height:100%;
     position: fixed;
    /*top:10%;*/
    right:0;
    left:0;
    bottom: 0;
	animation: slide 1s linear 0s 1 forwards;
}

header nav.alt-view {
	width:100%;
    height:100%;
    position: fixed;
    top:0;
    right:0;
    left:0;
    bottom: 0;
    opacity: 0.9;
    background-color: white;

}

.opaque {
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	z-index:1;
}


@keyframes slide {
	0% {
		transform: translate(0,-25px);
	}
	100% {
		transform: translate(0, 0);
	}
}

/*Slideshow*/

.slideshow-container {
	display: none;
	z-index:-3;
	position: relative;
	
}


.diamond {
	display: none;
}


.dot1 {
	display: none;
}

/*About Us*/

.desc {
  
  margin-top: 5%;
  padding:5% ;

}

.desc_left h1 {
	color: #392201;
	text-align: center;
	font-family: 'Russo One', sans-serif;
	font-weight: normal;
}

.desc_left p {
	color: #392201;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	
	padding: 10%;
}

.desc_right {
	padding:2.5% 10%;
	/*border-bottom: 2px solid black;*/
}

/*.services{

	margin-top: 10%;
}*/


/*.services h1{

	color: #392201;
	text-align: center;
	font-family: 'Russo One', sans-serif;
	font-weight: normal;

}
*/
/*Events*/


.events {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding:10% 15%;
	background:linear-gradient(to bottom , transparent , black) ,  url("../images/1029-12.jpg");
	 background-size: contain , cover;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-attachment: fixed, fixed;
}

.services {
	flex-basis: 100%;
	color:#fbc93e;
	/*flex-basis: 100%;*/
	/*flex-grow: 1;*/
	text-align: center;
	margin-bottom: 15px;
}


.events .services h2 {
	border-bottom: 2px solid #fbc93e ;
	/*border-bottom: 2px solid black;*/
	margin:0 35%;
	padding-bottom: 1%;
	font-family: 'Kanit', sans-serif;
	text-align: center;
    /*white-space: nowrap;*/
    color:black;
    font-size: 1.75rem;
    letter-spacing: 2px;
    /*background-color: red;*/
    width:60%;
    margin: 0 auto;
    color:#fbc93e;
}

.events div:first-of-type+div {
	/*flex-basis: 60%;*/
	height:200px;
	width:300px;
	margin-bottom: 40px;
	/*padding:5%;*/
	background-color: #fff;
	background:  url("../images/mall_big.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	border:2px solid white;
	box-sizing:border-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;

	align-items:flex-end;
	/*background-position: contain;*/

}

.events div:last-of-type {

	/*flex-basis: 100%;*/
	height:200px;
	width:300px;
	margin-bottom: 15%;
	/*padding:1%;*/
	background-color: #fff;
	background-image: url("../images/salon_big_result.png");
	background-repeat: no-repeat;
	background-size: cover;
	border:2px solid white;
	box-sizing:border-box;
	/*margin: 15%;*/
	/*height:250px;*/

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;

	align-items:flex-end;
}


/*.menu-img img {
	text-align: center;
	width:100%;
	height:200px;
	object-fit: cover;
	object-position: 50% 70%;
}	*/

/*div:first-of-type h3 {
	text-align: center;

}

div:first-of-type h3 a {
  color:black;
}


.events {
	margin-top: 5%;
}



.events div p {
	display: none;
}

.events div h3 {
	text-align: center;
	
	width:100%;
	height:100%;
	padding-top: 28%;
	font-family: 'Russo One', sans-serif;
	
	background: rgba(0,0,0,0.5);
	
}

.events div h3 a {
	color:white;
	text-decoration: none;
	font-size: 1.5rem;

}*/

/*.events div:first-of-type {
	background:  url("../images/mall_big.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: contain;
	height:500px;
}
*/

.events div h3 {
	text-align: center;
	/*margin-top::;5%;*/
	width: 100%;
	/*height:100%;*/
	background-color: #fff;	
	margin-bottom: 0;
	/*border:2px solid white;*/
}

.events div h3 a {
	color:white;
	text-decoration: none;
	font-size: 1.5rem;
	font-family:'Kanit',sans-serif;
	color:black;


}



.events .more {
   
   display: none;
}

.events div p{

	display: none;
}


/*rental part*/

.rental {

display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;

padding-top:30px;
}

.rental-img-left {
	flex-basis: 50%;
	order:1;
    display: none;
}

.rental-img-right {
	flex-basis: 100%;
	font-weight: normal;
	padding-bottom: 15%;
}

.rental-img-right h4 {
   text-align: center;
   border:1px solid #62a9c6;
   border-right:3px solid #62a9c6;
   border-left:3px solid #62a9c6;
   margin:auto 25%;
   margin-top: 5%;
   box-shadow: 0px 0px 5px #62a9c6;
   font-weight: normal;
}

.rental-img-right h4:first-of-type+h4{

	font-family: 'Russo One', sans-serif;
}
.rental-img-right h4{

	font-family: 'Russo One', sans-serif;
}

.rental-img-right h3{
 text-align: center;
 font-weight: normal;
}

.rental-img-right h3:first-of-type+h3{
 font-family: 'Russo One', sans-serif;
 font-weight: normal;
}

.rental-img-right h3{
 font-family: 'Russo One', sans-serif;
 font-weight: thin;
}

.rental-img-right *{

	margin: 0;
}

.rental-img-right h5:first-of-type{
 
 margin:2%;

}

.rental-img-right h4:nth-of-type(2n){
 
 margin-bottom:2%;

}

.rental-img-right h4:nth-of-type(2n)~*{
 
 margin-bottom:2%;

}

.rental-img-right p {
	color:black;
	text-align: center;
	font-family: 'Yeseva One', cursive;
	
}

.rental-img-right h5{

	color: rgba(196,160,108,1);
	font-family: 'Yeseva One', cursive;
	text-align: center;
}

/*Restaurant*/

.restaurant {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding:5% 15%;
	background:linear-gradient(to bottom , transparent , black) ,  url("../images/StockSnap_ODTWJA91CN.png");
	 background-size: contain , cover;
   background-repeat: no-repeat;
   background-attachment: fixed, fixed;
   margin-top: 10px;
}

.jiu {
	flex-basis: 100%;
	color:#fbc93e;
	/*flex-basis: 100%;*/
	/*flex-grow: 1;*/
	text-align: center;
	margin-bottom: 5%;
}


.jiu h2 {
	border-bottom: 2px solid #fbc93e ;
	/*border-bottom: 2px solid black;*/
	margin:0 35%;
	padding-bottom: 1%;
	font-family: 'Kanit', sans-serif;
	text-align: center;
    /*white-space: nowrap;*/
    color:black;
    font-size: 1.75rem;
    letter-spacing: 2px;
    /*background-color: red;*/
    width:60%;
    margin: 0 auto;
    color:#fbc93e;
}

.menu-img {
	/*flex-basis: 100%;*/
	/*height:200px;*/
	margin-bottom: 25px;
	padding:3px;
	background-color: #fff;
	text-align: center;
}

.menu-img img {
	/*text-align: center;*/
	width:300px;
	height:200px;
	object-fit: cover;
	/*object-position: 50% 70%;*/
}	

.menu-img h3 {
	text-align: center;

}

.menu-img h3 a {
  color:black;
  text-decoration: none;
  font-family: 'Kanit',sans-serif;
  
}

/*friends*/

.friends{

	/*margin:5%;*/

}

.friends .friends-left{

	display: none;
}

.friends .right .linkimg{

	/*margin:10%;*/
	margin-bottom: 5%;
}

.friends .right{

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;

	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;

	justify-content: space-around;

	background-color: white;
	padding: 10%;
}

.friends .linkimg{

	flex-basis: 100%;

}

.friends .friends-right{

	margin: 1% 10%;
	flex-basis: 30%;
	align-self:center;
	/*background-color: red;*/
	/*height:100px;*/
}




/*Footer*/

footer{
	/*margin-top: 3%;*/
    padding: 3% 0;
	background: url('../images/footer_cover.png');
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap:wrap;
}



.we-chat {
	width:100px;
	height:100px;
	
}

.we-chat:first-of-type {
	transition:transform 1s;
}

.we-chat:first-of-type:hover {
	transform:scale(2,2);
	transition:transform 2s;
}
.box {
	width:100px;
	height:100px;
	border-top:2px dashed #c4a16c;
	border-right:2px dashed #c4a16c;
	border-bottom:2px dashed #c4a16c;
	margin-right: 2%;
	text-align: center;
	box-sizing: border-box;
	color:white;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content:center;
	flex-wrap: wrap;
}

.box * {
flex-basis: 100%;
margin: 0;
}

footer .fleft{

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;

	margin:10%;
}

footer nav {
	flex-basis: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin: auto 10%;
	/*background-color: blue;*/
}

footer nav ul {
    flex-basis: 100%;
	list-style-type: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: center;
	/*background-color: red;*/
}

footer li {
  flex-grow: 1;
}

footer li a {
	white-space: nowrap;
	text-align: center;
	text-decoration: none;
	color: white;
	border-right: 1px solid white;
	padding-right: 10%;
	display: block;
}

footer li:last-of-type a {
	border :0;
}

footer nav p {
	margin-left: 5%;
	text-align: center;
	font-family: 'Rajdhani', sans-serif;
	color: white;
}